<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rapid Fitness Management System</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/trainers">Trainers</a>
        <a href="/members">Members</a>
        <a href="/classes">Classes</a>
        <a href="/classes_equipment">Classes and Equipment</a>
        <a href="/enrollments">Enrollments</a>
        <a href="/equipment_records">Equipment Records</a>
    </nav>

    {{{body}}}

</body>
</html>